.badge {
  img {
    border-radius: 50%;
    background-color: #f5f5f5;
  }

  .badge-image {
    @extend .card-image;
    margin-top: 1em;
  }

  .badge-footer {
    @extend .card-footer;
    color: #a3a3a3;
  }
}
