$white: #fff;
$orange: #FC4C02; // Strava orange
$black: #333333;
$blue: #007FB6;
// $grey: #ccc;
$grey-light: #e5e5e5;
$grey-lighter: #f5f5f5;

$family-sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;
$primary: $orange;

$body-background: $grey-lighter;
$highlight: #FEEEE7;

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
  }
}

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
// @import "bulma/sass/elements/notification";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/other";
// @import "bulma/sass/layout/_all"

@import "branding";

.container {
  background: $white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.content {
  padding: 1.8em 2em 2em 2em;
}

.heading {
  margin-top: 3em;
  margin-bottom: 1em;
}

.footer {
  margin-top: 2em;
  color: $grey;
}

.footer p {
  margin-top: 1em;
}

.footer a,
.footer a:visited,
.footer a:active {
  color: $grey;
  text-decoration: underline;
}
