.table {
  border-bottom: solid 2px $grey-lighter;

  &.is-fullwidth {
    td {
      padding: 15px;
    }
  }

  thead {
    background-color: $grey-lighter;

    tr {
      th {
        border-bottom: solid 1px $grey-light;
        color: $black !important;
        font-size: 12px;

        &.has-text-centered {
          text-align: center !important;
        }
      }
    }
  }

  td {
    &.has-button {
      margin-left: 0;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 5px;
    }
  }
}
